html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#player .vjs-picture-in-picture-control{
	display: none;
}
#player .vjs-fullscreen-control{
	display: none;
}
#player .vjs-seek-to-live-control{
	display: none;
}

#player .vjs-big-play-button {
	border: none;
    background: #FF1C1C;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
	z-index: 9;
}
#player .vjs-current-time{
	display: inherit;
}
#player .vjs-big-play-button .vjs-icon-placeholder:before{
	width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
#player .vjs-big-play-button::before {
	text-shadow: none;
}

#player .vjs-control-bar{
	position: fixed;
    bottom: 24px;
	left: 16px;
	right: 16px;
	width: auto;
	backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
	background: #23232390;
    border-radius: 15px;
    padding: 16px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
#player .vjs-progress-control.vjs-control{
	width: 100%;
    order: -1;
	height: 28px;
}
#player .vjs-play-progress.vjs-slider-bar:before{
	font-size: 20px;
}
#player .vjs-button > .vjs-icon-placeholder:before{
	font-size: 24px;
}
#player button:not(:disabled):active{
	background-color: transparent;
}

#player .vjs-progress-control.vjs-control{
	outline:none;
}
#player .vjs-current-time-display{
	font-size: 16px;
	order: 2;
	padding-top: 5px;
	
}
#player .vjs-current-time{
	width: 70px;
    display: flex;
    justify-content: flex-end;
}
#player .vjs-remaining-time{
	position: relative;
	font-size: 16px;
	order: 1;
	margin-top: -4px;
	width: 75px;
	display: flex;
    justify-content: flex-start;
}
#player .vjs-remaining-time::before{
	content: "/";
	position: absolute;
	left: 0px;
}
#player .vjs-volume-panel{
	margin-left: auto;
    order: 4;
}
#player .vjs-play-control{
	margin-right: auto;
}
#player .vjs-subs-caps-button{
	display:none;
}
#player .vjs-control *{
	outline: none;
}

#player .vjs-slider{
	box-shadow:none;
	-webkit-box-shadow: none;
}