<script>
  import { FILMS } from "../store/constants";
  import { router } from "tinro";

  let { id, episodeId } = router.params();
  $: if ($router.path) {
    id = $router.path.split("/")[2];
    episodeId = $router.path.split("/")[3];
  }

  $: film = FILMS.find(item => item.id === Number(id));
  $: nextEpisodeId = Number(episodeId) + 1;
  $: nextEpisode = film.episodes.find(item => item.id === nextEpisodeId);
</script>

{#if nextEpisode}
  <div>
    <div class="title">Следующая часть фильма</div>
    <div class="film">
      <img src={`./images/covers${nextEpisode.cover}`} alt="film cover" class='cover'/>
      <div class="description">
        <div class="filmTitle">{film.title}</div>
        <div class="episodeTitle">{+episodeId + 1} часть</div>
        <a href={`/player/8/${nextEpisodeId}`} class="more">Смотреть</a>
      </div>
    </div>
  </div>
{/if}

<style>
.cover{
    height: 198px;
}
  .film {
    background: #23232390;
    border-radius: 15px;
    /* padding: 16px; */
    overflow: hidden;
    margin: 16px;
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    height: 198px;
    display: flex;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 17.5739px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 16px;
  }
  .description {
    color: #ffffff;
    padding: 16px;
    position: relative;
  }
  .filmTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 19.3167px;
    line-height: 110%;
    color: white;
  }
  .episodeTitle {
    color: rgba(255, 255, 255, 0.75);
    font-style: normal;
    font-weight: 900;
    font-size: 9.65834px;
    line-height: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 8px;
  }
  .more {
    display: block;
    color: #fbb912;
    font-style: normal;
    font-weight: 900;
    font-size: 19.3167px;
    line-height: 110%;
    margin-top: 24px;
  }
  a {
    text-decoration: none;
  }
</style>
