<script>
  import sendMetrik from '../helpers/sendMetrik'
  import {episode, frameRate} from '../store'
  export let currentTime = 0;
  
  $: min = 1 / $frameRate * $episode.start;
  $: max = 1 / $frameRate * $episode.end;
  let style = "";
  $: {
    const percent = ((currentTime - min) / (max - min)).toFixed(2);
    style = `background-image: -webkit-gradient(linear, left top, right top, color-stop(${percent}, #7C7C7C), color-stop(${percent}, #3D3D3D))`;
  }
</script>

<div>
  <input
    type="range"
    bind:value={currentTime}
    {min}
    {max}
    on:change={()=>sendMetrik('Seeking')}
    step={1}
    {style} />
</div>

<style>
  /* https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */
  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 6px;
    padding: 0;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  /*Chrome thumb*/

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 5px;
    /*16x16px adjusted to be same as 14x14px on moz*/
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
  }

  /*Mozilla thumb*/

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 5px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
  }

  /*IE & Edge input*/

  input[type="range"]::-ms-track {
    width: 100%;
    height: 4px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 2px 0;
    /*remove default tick marks*/
    color: transparent;
  }

  /*IE & Edge thumb*/

  input[type="range"]::-ms-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
  }

  /*IE & Edge left side*/

  input[type="range"]::-ms-fill-lower {
    background: #7c7c7c;
    border-radius: 2px;
  }

  /*IE & Edge right side*/

  input[type="range"]::-ms-fill-upper {
    background: #3d3d3d;
    border-radius: 2px;
  }

  /*IE disable tooltip*/

  input[type="range"]::-ms-tooltip {
    display: none;
  }
</style>
