<script>
  import Hls from "hls.js";
  import Plyr from "plyr";
  import { onMount } from "svelte";
  import {
    markup,
    frameRate,
    filmSources,
    quality,
    paused,
    video,
    filmId,
    filmEpisodeId,
    episode,
    film
  } from "../store";
  import {
    handlePanStart,
    handlePanMove,
    handlePanEnd,
    coords
  } from "../store/actions";
  import { fade } from "svelte/transition";
  import Controls from "./Controls.svelte";
  import TechInfo from "./TechInfo.svelte";
  import Loader from "../components/Loader.svelte";
  import Load from "./Load.svelte";
  import { tweened } from "svelte/motion";
  import { writable } from "svelte/store";
  import sendMetrik from "../helpers/sendMetrik";

  let initialLoadComplete = false;
  let loadStartTime = Date.now();
  const x = tweened(0, { duration: 0 });
  const y = tweened(0, { duration: 0 });
  let isLoading = false;
  let innerHeight;
  let innerWidth;
  let videoWidth;

  let canvas;
  let ctx;

  let currentTime = (1 / $frameRate) * $episode.start;
  let tmpCurrentTime = currentTime;

  let duration = 0;
  let muted = false;
  let seeking = false;

  let position;
  let scale = 1;
  let requestAnimationFrameId;
  const frame = writable(0);
  frame.subscribe(currentFrame => {
    if (!$video) return;
    if ($markup[$frame]) {
      if ($markup[$frame].position) {
        position = [...$markup[$frame].position];
        x.set((position[0] * $film.height * (1920 / 1080)) / 2);
        y.set((position[1] * $film.height) / 2);
      }
      if (
        $markup[$frame].position &&
        $markup[$frame].position[2] === "animated" &&
        $markup[$frame + 1] &&
        $markup[$frame + 1].position &&
        $markup[$frame + 1].position[2] === "animated"
      ) {
        const nextPosition = $markup[$frame + 1].position;
        x.set((nextPosition[0] * $film.height * (1920 / 1080)) / 2, {
          duration: 1000 / $frameRate
        });
        y.set((nextPosition[1] * $film.height) / 2, {
          duration: 1000 / $frameRate
        });
      }
      if ($markup[$frame].scale) scale = $markup[$frame].scale;
    }
  });

  let prevMinute = 0;
  const draw = () => {
    frame.set(Math.floor(currentTime * $frameRate) - 1);
    if (currentTime % 60 < 1) {
      const curvMinute = Math.floor(currentTime / 60);
      if (curvMinute !== prevMinute) {
        prevMinute = curvMinute;
        sendMetrik("FilmWatchMinute", {
          FilmNameMinute: $film.title,
          FilmEpisodeMinute: $episode.title,
          WatchMinute: curvMinute
        });
      }
    }
    if ($frame + 1 >= $episode.end && !$paused) {
      $video.pause();
    }

    if (!$video || ($frame + 1 >= $episode.end && !$paused)) {
      requestAnimationFrameId = requestAnimationFrame(draw);
      return;
    }
    
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    if (innerHeight > innerWidth && !seeking) {
      ctx.setTransform(
        scale,
        0,
        0,
        scale,
        (canvas.width * (1 - scale)) / 2 + $x,
        (canvas.height * (1 - scale)) / 2 + $y
      );
    } else {
      ctx.setTransform(1, 0, 0, 1, 0, 0);
    }
    ctx.drawImage($video, 0, 0, canvas.width, canvas.height);

    requestAnimationFrameId = requestAnimationFrame(draw);
  };

  const initVideo = () => {
    $video.currentTime = tmpCurrentTime;
    videoWidth = 1920;
    canvas.width = 1920; //$video.videoWidth;
    canvas.height = $film.height || 1080; //$video.videoHeight;
    ctx = canvas.getContext("2d");
    draw();
  };
  const play = () => {
    if ($paused) {
      $video.play();
    } else {
      $video.pause();
    }
  };
  const mute = () => (muted = !muted);
  const moveFrame = (i = 1) =>
    (currentTime = currentTime + (1 / $frameRate) * i);
  //------------remove me
  window.setFrame = frameI => (currentTime = (1 / $frameRate) * frameI);
  //-----

  $: source = $film.filmUrl;
  onMount(() => {
    const player = new Plyr($video, {
      controls: []
    });

    if (!Hls.isSupported()) {
      $video.src = source;
    } else {
      const hls = new Hls();
      hls.loadSource(source);
      hls.attachMedia($video);
    }
    return () => {
      $video.src = '';
      cancelAnimationFrame(requestAnimationFrameId);
    };
  });

  const onCanPlay = () => {
    if (loadStartTime) {
      sendMetrik("FilmLoadTime", {
        FilmLoadTime: Math.round((Date.now() - loadStartTime) / 100) / 10 + "s"
      });
    }
    loadStartTime = false;
    initialLoadComplete = true;
    isLoading = false;
    if (tmpCurrentTime > 0) $video.currentTime = tmpCurrentTime;
    tmpCurrentTime = 0;
  };
</script>

<!-- <TechInfo {currentTime} frame={$frame} {moveFrame} {position} {scale} /> -->
<Controls
  {play}
  bind:currentTime
  {mute}
  {muted}
  {seeking}
  on:panstart={handlePanStart}
  on:panmove={e => handlePanMove(e, seeking)}
  on:panend={handlePanEnd} />
<div class="container" style={`transform:translate(${$coords.x}px,0px)`}>
  {#if isLoading && videoWidth}
    <div class="loader" transition:fade|local>
      <Loader />
    </div>
  {/if}
  <canvas bind:this={canvas} style={`height:${innerHeight}px`} />
</div>
{#if !videoWidth || Object.keys($markup).length === 0 || !initialLoadComplete}
  <Load />
{/if}

<video
  bind:this={$video}
  bind:currentTime
  crossorigin
  bind:paused={$paused}
  bind:seeking
  playsinline
  autoplay
  on:canplay={onCanPlay}
  on:waiting={() => (isLoading = true)}
  {muted}
  on:loadedmetadata={initVideo} />
<svelte:window bind:innerHeight bind:innerWidth />

<style>
  :blobal(body) {
    background: black;
  }
  canvas {
    background: black;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  video {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
  }
  .container {
    background: black;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: visible;
  }
  .loader {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
