<script>
  import { onMount } from 'svelte'
  import videojs from 'video.js'
  import '@videojs/http-streaming'
  import 'videojs-contrib-eme'
  import { markup, frameRate, frame } from './store'
  import loadMarkup from './loadMarkup'
  import { tweened } from 'svelte/motion'
  import pannable, { handlePanStart, handlePanEnd, handlePanMove, coords } from './pannable'
  // import drmConfig from './drm';
  const config = {
    src:"https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/36499fa2-a760-4e75-b120-e2b7ad11a9c5/BOX_1_original.ism/manifest(format=m3u8-aapl)",
    type:"application/x-mpegURL"
  }
  

  let player
  let currentTime = 0
  let markupLoaded = false
  const CANVAS_WIDTH = 1
  const filmHeight = 720
  const fileWidth = 1280
  let aspectRatio = fileWidth / filmHeight

  const MARKUP_URL = './data/box9.vxml'

  loadMarkup(MARKUP_URL).then((res) => {
    $markup = res.markup
    $frameRate = 24
    if (player) player.play()
  })

  const x = tweened(0, { duration: 0 })
  const y = tweened(0, { duration: 0 })

  let position
  let scale = 1
  let requestAnimationFrameId
  let videoEl
  let windowHeight
  let windowWidth
  let paused = true
  let unsubscribePan

  const draw = () => {
    $frame = Math.floor(player.currentTime() * $frameRate) - 1
    requestAnimationFrameId = requestAnimationFrame(draw)
    markupLoaded = true;
  }
  frame.subscribe((currentFrame) => {
    if ($markup[currentFrame]) {
      if ($markup[currentFrame].position) {
        position = [...$markup[currentFrame].position]
        x.set((position[0] * CANVAS_WIDTH * (1920 / 1080)) / 2)
        y.set((position[1] * CANVAS_WIDTH) / 2)
      }
      if (
        $markup[currentFrame].position &&
        $markup[currentFrame].position[2] === 'animated' &&
        $markup[currentFrame + 1] &&
        $markup[currentFrame + 1].position &&
        $markup[currentFrame + 1].position[2] === 'animated'
      ) {
        const nextPosition = $markup[currentFrame + 1].position
        x.set((nextPosition[0] * CANVAS_WIDTH * (1920 / 1080)) / 2, {
          duration: 1000 / $frameRate,
        })
        y.set((nextPosition[1] * CANVAS_WIDTH) / 2, {
          duration: 1000 / $frameRate,
        })
      }
      if ($markup[currentFrame].scale) scale = $markup[currentFrame].scale
      const translateX = $x - (windowHeight * aspectRatio) / 2 + windowWidth / 2 + $coords.x
      const translateY = $y

      const style =
        windowHeight > windowWidth
          ? `transform: translate(${translateX}px, ${translateY}px) scale(${scale});`
          : 'width: 100%;'
      videoEl.style = style
    }
  })

  $: if (paused && videoEl) {
    unsubscribePan = coords.subscribe((pan) => {
      const translateX = $x - (windowHeight * aspectRatio) / 2 + windowWidth / 2 + pan.x
      const translateY = $y

      const style =
        windowHeight > windowWidth
          ? `transform: translate(${translateX}px, ${translateY}px) scale(${scale});`
          : 'width: 100%;'
      videoEl.style = style
    })
  } else {
    if (unsubscribePan) unsubscribePan()
  }

  onMount(() => {
    player = videojs('player', {
      height: windowHeight,
      nativeControlsForTouch: false,
      controls: true,
      // fluid: true,
      autoplay: false,
    });
    player.eme();
    player.src(config);

    player.on('pause', () => (paused = true))
    player.on('play', () => (paused = false))
    window.player = player
    videoEl = document.querySelector('#player video')
    draw()
  })
  $: {
    if (player) player.height(windowHeight)
  }
</script>

<div
  class="container"
  use:pannable
  on:panstart={handlePanStart}
  on:panmove={(e) => handlePanMove(e, false)}
  on:panend={handlePanEnd}
  class:visible={markupLoaded}
>
  <video-js id="player" class="vjs-default-skin" preload="auto">
    
  </video-js>
</div>
<svelte:window bind:innerHeight={windowHeight} bind:innerWidth={windowWidth} />

<style>
  .container {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  #player {
    width: 100vw;
    overflow: hidden;
    height: 100%;
  }
  #player :global(.vjs-tech) {
    width: auto;
  }
  .visible{
    opacity: 1;
  }
</style>
