<script>
	// import Video from './player/Video.svelte'
	// import { startPlayer } from "./store/actions";
	// startPlayer({ id:1, episodeId: 1});
	import Video from './video/Index.svelte'
</script>
<Video/>